.partida-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-info {
    display: flex;
    align-items: center;
}

.time-escudo {
    width: 50px;
    height: 50px;
}

.placar {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.golsTimeCasa {
    margin-right: 15px;
    margin-left: 30px;
    font-size: 40px;
    color: white;
}   

.golsTimeVisitante {
    margin-left: 15px;
    margin-right: 30px;
    font-size: 40px;
    color: white;
}


.button-jogos {
    display: flex;
    justify-content: space-between;
}

.button-estatisticas {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

.estatisticas {
    margin-top: 20px;
}

.button-para-proxima-tela {
    border: none;
    border-radius: 5px;
    background: #4e5d6c;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    transition: 0.3s;
}

.button-para-proxima-tela:hover {
    background: #3b4a59;
}

.acoes-rodada {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-rodada {
    border: none;
    background: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
}

.text-rodada {
    color: #fff;
    font-size: 1.2em;
    margin: 10px 30px;
}

.legenda {
    display: flex;
    margin-top: 20px;
    gap : 20px;
}

.legenda div {
    margin: 0 10px 20px 10px;
    padding-left: 15px; /* Adiciona espaço entre o risco colorido e a palavra */
}

.posicao-libertadores {
    border-left: 5px solid green;
}

.posicao-pre-libertadores {
    border-left: 5px solid rgb(130, 255, 47);
}

.posicao-sul-america {
    border-left: 5px solid blue;
}

.posicao-serie-b {
    border-left: 5px solid red;
}

.posicao-texto {
    color: #fff;
    font-size: 0.9em;
    margin: 1px;
}