.partida-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-info {
    display: flex;
    align-items: center;
}

.time-escudo {
    width: 50px;
    height: 50px;
}

.placar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.golsTimeCasa {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 40px;
    color: white;
}   

.golsTimeVisitante {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    color: white;
}

.acoes-rodada {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-rodada {
    border: none;
    background: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
}

.text-rodada {
    color: #fff;
    font-size: 1.3em;
    margin: 0 50px;
}

.button-para-tela-inicial {
    border: none;
    border-radius: 5px;
    background: #4e5d6c;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    transition: 0.3s;
}

.button-para-proxima-tela {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background: #4e5d6c;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    transition: 0.3s;
}


.button-para-tela-inicial:hover {
    background: #3b4a59;
}

.button-editar-gols {
    border: none;
    border-radius: 5px;
    background: #4e5d6c;
    font-size: 0.8em;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
    margin: 5px 0;
}

.acoes-partida {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.button-acao-atualizar {
    border: none;
    border-radius: 5px;
    background: #4674a1;
    font-size: 1em;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    transition: 0.3s;
}

.button-acao-atualizar:hover {
    background: #34577a;
}

.button-acao-finalizar {
    border: none;
    border-radius: 5px;
    background: #305274;
    font-size: 1em;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    transition: 0.3s;
}

.button-acao-finalizar:hover {
    background: #1f3c5a;
}